/* FONTS */
@font-face
{
	font-family: OswaldRegular;
  src: url(fonts/Oswald-VariableFont_wght.ttf);
}

@font-face
{
	font-family: OswaldBig;
  src: url(fonts/Oswald-Bold.ttf);
}

@font-face
{
	font-family: OswaldLight;
  src: url(fonts/Oswald-ExtraLight.ttf);
}

/*FONTS*/

/*BODY AND HEADER*/
body
  {
    background-image: linear-gradient(#e6ffcc, #99ffff);
    color: #26734d;
    display: flex;
    justify-content: center;
    font-family: OswaldRegular;
  }

h1
{
  font-family: OswaldBig;
}
/*BODY AND HEADER*/

/*DIV BOXES*/
#imageheader
{
  display: flex;
  justify-content: center;
}

#hold
{
  position: relative;
  top: 100px;
  width: 500px;
  font-family: OswaldLight;
  padding: 20px;
  margin: 20px;
}

#contentbox
  {
    width: 500px;
    border: 3px solid #133926;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
  }

#backgroundimage
{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

#backgroundimage img
{
  width: 150px;
}
/*DIV BOXES*/

/*LIST*/
ul
  {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
  }
/*LIST*/

/*LINKS*/
a
{
  position: relative;
  text-decoration: none;
  background: white;
  padding: 15px;
  margin-left: auto;
  margin-bottom: 15px;
  color: gray;
}

a:hover
{
  background-color: #e6f2ff;
  color: #80bbff;
}

a:visited
{
  background-color: #c5e467;
  color: #26734d;
}
/*LINKS*/

/*IMAGE SLIDER*/
#slider {
	overflow: hidden;
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

/*IMAGE SLIDER*/

/*CSS IMAGE*/

.head
{
	position: relative;
  width: 300px;
  height: 270px;
  /*transform: translate(-50%, -50%);*/
  /*top: 50%;
  left: 50%;*/
  border-radius: 50%;
  background-color: lightgray;
}

.face
{
	position: absolute;
  width: 150px;
  height: 170px;
  left: 75px;
  top: 75px;
}

.nose
{
	position: absolute;
	width: 30px;
	height: 20px;
	border-radius: 50%;
	background-color: black;
}

.eyespot-group
{
	position: relative;
	width: 290px;
	height: 30px;
	top: -5px;
}

.eyespot
{
	position: absolute;
	background-color: #333333;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.spot-left
{
	left: -45px;

}

.spot-right
{
	right: 95px;
}

.ear-group
{
	position: relative;
	width: 250px;
	height: 40px;
	top: 10px;
}

.ear
{
	position: absolute;
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.ear-left
{
	left: 0px;
}

.ear-right
{
	right: -40px;
}

.eye-group
{
	position: absolute;
  width: 200px;
  height: 40px;
  top: 10px;
}

.eye
{
	position: absolute;
  background-color: black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.eye-left
{
  left: -30px;
}

.eye-right
{
  right: 20px;
}

.innereye-group
{
	position: absolute;
	width: 200px;
	height: 40px;
	top: 20px;
}
.innereye
{
	position: absolute;
	background-color: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.in-left
{
	left: 10px;
}

.in-right
{
	right: 30px;
}
