/* FONTS */
@font-face
{
	font-family: OswaldRegular;
  src: url(fonts/Oswald-VariableFont_wght.ttf);
}

@font-face
{
	font-family: OswaldBig;
  src: url(fonts/Oswald-Bold.ttf);
}

@font-face
{
	font-family: OswaldLight;
  src: url(fonts/Oswald-ExtraLight.ttf);
}

/*FONTS*/

/*BODY AND HEADER*/
body
  {
    background-image: linear-gradient(#e6ffcc, #99ffff);
    color: #26734d;
    display: flex;
    justify-content: center;
    font-family: OswaldRegular;
  }

h1
{
  font-family: OswaldBig;
}
/*BODY AND HEADER*/

/*DIV BOXES*/
#imageheader
{
  display: flex;
  justify-content: center;
}

#hold
{
  position: relative;
  top: 100px;
  width: 500px;
  font-family: OswaldLight;
  padding: 20px;
  margin: 20px;
}

#contentbox
  {
    width: 500px;
    border: 3px solid #133926;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
  }

#backgroundimage
{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

#backgroundimage img
{
  width: 150px;
}
/*DIV BOXES*/

/*LIST*/
ul
  {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
  }
/*LIST*/

/*LINKS*/
a
{
  position: relative;
  text-decoration: none;
  background: white;
  padding: 15px;
  margin-left: auto;
  margin-bottom: 15px;
  color: gray;
}

a:hover
{
  background-color: #e6f2ff;
  color: #80bbff;
}

a:visited
{
  background-color: #c5e467;
  color: #26734d;
}
/*LINKS*/

/*IMAGE SLIDER*/
#slider {
	overflow: hidden;
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

/*IMAGE SLIDER*/
